
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.div-with-bg{
  background-color:#31002e;
}

hr.heart {
	border-top: 4px double #8c8b8b;
	text-align: center;
  width: 60%;
}
hr.heart:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -20px;
	padding: 0 10px;
	background: #f7f7f7;
	color: #DE1B1B;
	font-size: 25px;
}

hr.heart1 {
	border-top: 4px double #ffffff;
	text-align: center;
  width: 60%;
}
hr.heart1:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -20px;
	padding: 0 10px;
	background: #31002e;
	color: #DE1B1B;
	font-size: 25px;
}

h1 {
 font-family: 'Oswald', sans-serif;
 font-size: 45px;
 letter-spacing: 1px;
}

h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 45px;
 letter-spacing: 1px;
 color: #f27240;
}

h3 {
 font-family: 'Oswald', sans-serif;
 font-size: 70px;
 color: #f27240;
}

h4{
 font-family: 'Handlee', cursive;
  font-size: 30px;
  color: #f27240;
}


/*body {
  padding-top: 50px;
  padding-left:  30px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
    padding-left: 0px;
  }
} */

/*///// HOME /////*/


#home{
  padding-top: 40px;
  position: relative;
  z-index: 9;
  margin-bottom: 60px;

}

#firstblock {
  color: white;
  text-align: center;
  align-items: center;


}

#home2 {
  position: relative;
  z-index: 8;

}

#hr {
  position: relative;
  z-index: 7;
}

#about {
  position: relative;
  z-index: 6;
  /*top: 600px;
  left:0px;*/
  width:100%;
  color: white;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  margin-bottom: -100px;
}

#about p{
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

.opportunity a{
  color: #f27240;
}

.opportunity a:hover,
.opportunity a:focus{
  color: #DE1B1B;
  text-decoration: none;
}

#hr1 {
  position: relative;
  z-index: 5;
}


#projects {
  position: relative;
  z-index: 4;
  margin-top: 40px;
  /*top: 90px;
  right: 115px; */
}

#projects-1 {
  position: relative;
  z-index: 3;
  /*top: 375px;
  right: 115px; */
}



#logobox {
  position: absolute;
/*  top: 100px;
  right: 500px; */
  padding: 0;
  margin: 0;
}

/*.contact-icons{
  display: inline-block;
  position: absolute;
  top: 360px;
  left: 700px;
}*/

.mypic {
  width: 200px;
  padding: 40px;
  margin: 2px;
}

.imgsize {
  width: 100px;
  position: absolute;
  top: 40px;
  left:30px;
  -webkit-animation:spin 4s linear 2;
 -moz-animation:spin 4s linear 2;
 animation:spin 4s linear 2;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.cont-size {
    width: 100px;
    padding: 15px;
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}



/*////// FOOTER ///////*/

#fullfooter {
  background-color: white;
  position: relative;
  z-index: 1
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  align-content: center;
}

#footer{
   letter-spacing: 1px;
   font-family: 'Handlee', cursive;
   font-size: 15px;
   }

#footer-social {
  display: inline-block;

  padding: 20px;
  align-content: center;
}

.social-size{
  width: 20px;
  padding: 0px, 25px;
  align-items: center;
  position:
}

./*///// NAVBAR ////*/
/* while header */
.navbar-default { background-color: transparent; border-color: transparent; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s; font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif'; font-weight: 300; letter-spacing: 1px; font-size: 5em; /* while fixed */ }
.navbar-default .navbar-header .navbar-brand { font-family: 'Arial', 'sans-serif'; font-size: 1em; color: #31002e; font-weight: 200; text-transform: uppercase; padding: 20px 25px; }
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus { color: #FF0000; }
.navbar-default .navbar-header .navbar-toggle {font-family: 'Arial', 'sans-serif'; font-size: 1em; color: #31002e; font-weight: 200; text-transform: uppercase; padding: 20px 25px;}
.navbar-default .nav > li > a { font-family: 'Arial', 'sans-serif'; text-transform: uppercase; letter-spacing: 2px; font-size: 1em; font-weight: 200; color: #31002e; padding: 20px 25px;  }
.navbar-default .nav > li > a:focus { color: #FF0000; }
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover { color: #FF0000; }
.navbar-default .nav > li.active > a { color: #FF0000; background-color: transparent; }
.navbar-default .nav > li.active > a:focus { color: #FF0000; background-color: transparent; }
.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover { background-color: transparent; }
.navbar-default .nav > li > a.selected { color: #fff; background-color: black;}
.navbar-default .affix { background-color: white; }
.navbar-default .affix .navbar-header .navbar-brand:hover, .navbar-default .affix .navbar-header .navbar-brand:focus { color: #FF0000; }
.navbar-default .affix .nav > li.active > a { color: #FF0000; }
.navbar-default .affix .nav > li.active > a:focus { color: #FF0000; }
.navbar-default .affix .nav > li > a:hover, .navbar-default .affix .nav > li > a:active, .navbar-default .affix .nav > li > a:focus, .navbar-default .affix .nav > li > a:focus:hover { color: #FF0000; }

/*///// FONTS //////*/


/*/// CLEARFIX ////*/


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/*//// MEDIA ////*/

@media screen  (max-width: 500px) {
  .card-container, .front, .back {
  	width: 100%;
  	height:350px;
  	border-radius: 4px;
  }
}
